<html>
<head>
<title>Welcome To Xinjing!</title>
</head>
<body>
<h1>Welcome To Xinjiang!</h1>

<p>
Now is <%= @time %>
</p>

<p>
<%= link_to "Foods", foods_path %>
</p>

<p>
To <a href="http://www.ucas.ac.cn">usas</a> click here.
</p>

<p>
Say <%= link_to "Goodbye", leaving_goodbye_path %>.
</p>

</body>
</html>
